@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import "reset.scss";
#app {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: block;
  background-color: rgba(235, 244, 255, 1);
}
.app__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app__footer {
  height: 100px;
  background-color: #333333;
  margin-top: auto;
}

.app__inner {
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  text-align: center;
  margin-bottom: 24px;
  color: var(--app-text-color);
}

.app__content {
  max-width: 785px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(235, 244, 255, 1);
}

.content-block__info {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 30px;
}
.letters-state {
  margin-bottom: 30px;
  background: #ebf4ff;
  padding: 20px;
  border-radius: 6px;
}
.letter-filed {
  display: flex;
  align-items: center;
  gap: 24px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.letter-filed__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.letter-filed__cube {
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 6px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  outline: none;
  border: 1px solid #fff;
  // color: var(--app-color);
  text-transform: uppercase;
  &._empty {
    background-color: #fff;
    border-color: var(--app-color);
  }
  &._no-in-word {
    background-color: #c2cfe0;
    border-color: #c2cfe0;

    color: var(--app-color);
  }
  &._has-but-no {
    border-color: var(--app-color);
    color: var(--app-color);
  }
  &._letter-guessed {
    color: #fff;
    border-color: var(--app-color);
    background-color: var(--app-color);
  }
}

.app__descr {
  font-family: 16px;
  font-weight: 400;
  padding-bottom: 30px;
  border-bottom: 1px solid #b8cad5;
  margin-bottom: 30px;
}

.red-selection {
  color: red;
  font-weight: 600;
}

.app__user-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-user-name {
  outline: none;
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 4px;
  border: 1px solid #00426947;
}
.nickname-error {
  display: none;
  font-size: 12px;
  color: red;
}

.app-btn {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 30px;
  color: var(--app-text-color);
  margin: auto;
  margin-top: 30px;
  background-color: var(--app-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.timer-container {
  position: relative;
  width: 100%;
  display: flex;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background-color: #ebf4ff;
  padding: 10px;
  border-radius: 6px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.words-table {
  .word-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.cont-descr {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-top: 20px;
}

.words-complited-list {
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  padding: 8px 12px;
  padding-left: 50px;
  text-align: left;
  border: 1px solid #c2cfe0;
  border-radius: 6px;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 120%;
  font-weight: 400;
  color: #575757;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.5 7.875C13.5 6.68153 13.0259 5.53693 12.182 4.69302C11.3381 3.84911 10.1935 3.375 9 3.375H2.25V20.25H10.125C11.0201 20.25 11.8786 20.6056 12.5115 21.2385C13.1444 21.8714 13.5 22.7299 13.5 23.625M13.5 7.875V23.625M13.5 7.875C13.5 6.68153 13.9741 5.53693 14.818 4.69302C15.6619 3.84911 16.8065 3.375 18 3.375H24.75V20.25H16.875C15.9799 20.25 15.1214 20.6056 14.4885 21.2385C13.8556 21.8714 13.5 22.7299 13.5 23.625' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: left 10px center;
}
