@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import "reset.scss";
#app {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: block;
  background-color: rgba(235, 244, 255, 1);
}
.app__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app__footer {
  height: 100px;
  background-color: #333333;
  margin-top: auto;
}

.app__inner {
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__title {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  text-align: center;
  margin-bottom: 24px;
  color: var(--app-text-color);
}

.app__content,
.game-result {
  min-height: 600px;
  max-width: 785px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(235, 244, 255, 1);
}
.game-result {
  max-width: 460px;
  display: flex;
  flex-direction: column;
}

.content-block__info {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 30px;
}
.letters-state {
  margin-bottom: 30px;
  background: #ebf4ff;
  padding: 20px;
  border-radius: 6px;
}
.letter-filed {
  display: flex;
  align-items: center;
  gap: 24px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.letter-filed__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.letter-filed__cube {
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 6px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  outline: none;
  border: 1px solid #fff;
  // color: var(--app-color);
  text-transform: uppercase;
  &._empty {
    background-color: #fff;
    border-color: var(--app-color);
  }
  &._no-in-word {
    background-color: #c2cfe0;
    border-color: #c2cfe0;

    color: var(--app-color);
  }
  &._has-but-no {
    border-color: var(--app-color);
    color: var(--app-color);
  }
  &._letter-guessed {
    color: #fff;
    border-color: var(--app-color);
    background-color: var(--app-color);
  }
}

.app__descr {
  font-family: 16px;
  font-weight: 400;
  padding-bottom: 30px;
  border-bottom: 1px solid #b8cad5;
  margin-bottom: 30px;
}

.red-selection {
  color: red;
  font-weight: 600;
}

.app__user-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-user-name {
  outline: none;
  width: 100%;
  padding: 10px;
  display: block;
  border-radius: 4px;
  border: 1px solid #00426947;
}

.nickname-error {
  // display: none;
  font-size: 12px;
  color: red;
}

.add-user-name.err + .nickname-error {
  // display: block;
}

.app-btn {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 30px;
  color: var(--app-text-color);
  margin: auto;
  margin-top: 30px;
  background-color: var(--app-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.timer-container {
  position: relative;
  width: 100%;
  display: flex;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background-color: #ebf4ff;
  padding: 10px;
  border-radius: 6px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.words-table {
  .word-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.cont-descr {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-top: 20px;
}

.words-prompt {
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  padding: 20px;
  text-align: left;
  border: 1px solid #c2cfe0;
  border-radius: 6px;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 120%;
  font-weight: 400;
  color: #575757;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.5 7.875C13.5 6.68153 13.0259 5.53693 12.182 4.69302C11.3381 3.84911 10.1935 3.375 9 3.375H2.25V20.25H10.125C11.0201 20.25 11.8786 20.6056 12.5115 21.2385C13.1444 21.8714 13.5 22.7299 13.5 23.625M13.5 7.875V23.625M13.5 7.875C13.5 6.68153 13.9741 5.53693 14.818 4.69302C15.6619 3.84911 16.8065 3.375 18 3.375H24.75V20.25H16.875C15.9799 20.25 15.1214 20.6056 14.4885 21.2385C13.8556 21.8714 13.5 22.7299 13.5 23.625' stroke='black' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: center;
}

.app-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  .app-modal__content {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 40px;
    position: relative;
    .app-modal__close {
      position: absolute;
      right: 20px;
      top: 20px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1.41406' width='26' height='2' transform='rotate(45 1.41406 0)' fill='%2348474D'/%3e%3crect x='19.7988' y='1.41406' width='26' height='2' transform='rotate(135 19.7988 1.41406)' fill='%2348474D'/%3e%3c/svg%3e ");
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .letters-state {
    padding: 20px;
    margin-bottom: 0;
    margin-bottom: 20px;
  }
  .app-modal__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .guessed-word {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .letter-filed__cube {
    width: 38px;
    height: 38px;
    padding: 0;
    font-size: 18px;
  }
  .letter-filed {
    gap: 15px;
  }
}

.game-result__title {
  color: #202020;
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 32.5px */
  margin-bottom: 30px;
}

.game-result__item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-style: normal;
  font-size: 16px;
  counter-increment: line-number;
  &:nth-child(1) .game-result__name::before,
  &:nth-child(2) .game-result__name::before,
  &:nth-child(3) .game-result__name::before {
    content: "";
    width: 21px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:nth-child(1) .game-result__name::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='27' viewBox='0 0 21 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.61211 6.76779C9.98015 6.03502 11.0252 6.03232 11.397 6.76318L14.4518 12.7678C14.8087 13.4693 15.7987 13.5026 16.2019 12.8266L17.6412 10.4137C18.1614 9.54147 19.5 9.91036 19.5 10.926V21C19.5 21.5523 19.0523 22 18.5 22H2.5C1.94772 22 1.5 21.5523 1.5 21V10.9262C1.5 9.91055 2.83861 9.54167 3.35884 10.4139L4.82527 12.8726C5.22967 13.5506 6.2234 13.5147 6.57773 12.8092L9.61211 6.76779Z' fill='url(%23paint0_linear_4709_8940)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_4709_8940' x1='1.5' y1='17.4054' x2='19.5' y2='17.4054' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFC24C'/%3e%3cstop offset='0.709391' stop-color='%23FFEAC2'/%3e%3cstop offset='1' stop-color='%23FFC24C'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  }
  &:nth-child(2) .game-result__name::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='27' viewBox='0 0 21 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.61211 6.76779C9.98015 6.03502 11.0252 6.03232 11.397 6.76318L14.4518 12.7678C14.8087 13.4693 15.7987 13.5026 16.2019 12.8266L17.6412 10.4137C18.1614 9.54147 19.5 9.91036 19.5 10.926V21C19.5 21.5523 19.0523 22 18.5 22H2.5C1.94772 22 1.5 21.5523 1.5 21V10.9262C1.5 9.91055 2.83861 9.54167 3.35884 10.4139L4.82527 12.8726C5.22967 13.5506 6.2234 13.5147 6.57773 12.8092L9.61211 6.76779Z' fill='url(%23paint0_linear_4709_9340)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_4709_9340' x1='1.5' y1='17.4054' x2='19.5' y2='17.4054' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23B5C8CE'/%3e%3cstop offset='0.709391' stop-color='%23E9F3FF'/%3e%3cstop offset='1' stop-color='%23BDCBD3'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  }
  &:nth-child(3) .game-result__name::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='27' viewBox='0 0 21 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.61211 6.76779C9.98015 6.03502 11.0252 6.03232 11.397 6.76318L14.4518 12.7678C14.8087 13.4693 15.7987 13.5026 16.2019 12.8266L17.6412 10.4137C18.1614 9.54147 19.5 9.91036 19.5 10.926V21C19.5 21.5523 19.0523 22 18.5 22H2.5C1.94772 22 1.5 21.5523 1.5 21V10.9262C1.5 9.91055 2.83861 9.54167 3.35884 10.4139L4.82527 12.8726C5.22967 13.5506 6.2234 13.5147 6.57773 12.8092L9.61211 6.76779Z' fill='url(%23paint0_linear_4709_1090)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_4709_1090' x1='1.5' y1='17.4054' x2='19.5' y2='17.4054' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FF6D2F'/%3e%3cstop offset='0.709391' stop-color='%23FFEAC2'/%3e%3cstop offset='1' stop-color='%23FF6D2F'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
  }
}

.game-result__name {
  flex: 0 0 85%;
  color: #000;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  display: flex;
  align-items: center;
  &::before {
    margin-right: 20px;
    display: block;
    font-size: 16px;
    content: counter(line-number) ".";
    min-width: 21px;
  }
}
.game-result__time {
  flex: 0 0 15%;
  color: #000;
  text-align: right;
  font-weight: 600;
  line-height: 170%; /* 27.2px */
}

.game-result__items {
  padding-right: 10px;
  max-height: 550px;
  overflow: auto;
  /* полоса прокрутки (скроллбар) */
  &::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #fff;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: var(--app-text-color);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
  }

  /* Стрелки */

  &::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
  }

  &::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
  }

  &::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
  }

  &::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
  }
}

.game-result__btn {
  margin: auto auto 0;
  width: fit-content;
}
